body
{
    font-family: 'Special Elite',cursive;
    background:rgb(194, 194, 194);
}

.header_div {
    background: grey;
    color:white;
}

.header_div p{
    font-family: 'Roboto',sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto',sans-serif;
    margin-top: 15px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 5px;

}

.copy_right_footer {
    position: fixed;
    color: grey;
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: whitesmoke;
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}


